# UNIDAD 2: FUNDAMENTOS DE PYTHON - PANDAS
## Docente: MSc. Ruth Chirinos
## Fecha Entrega: 09/Sept/2023 23:59

### Practica

In [ ]:
import pandas as pd

# Cargar los datos del archivo CSV
data = pd.read_csv('titanic.csv')

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
# Mostrar información básica del conjunto de datos
print("Información básica del conjunto de datos:")
data.info()

Información básica del conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# Mostrar las primeras filas del conjunto de datos
print("\nPrimeras filas del conjunto de datos:")
#print(data.head())

data.head()

Primeras filas del conjunto de datos:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
# Calcular la cantidad de pasajeros
total_pasajeros = len(data)
print("\nCantidad total de pasajeros:", total_pasajeros)

Cantidad total de pasajeros: 891

In [ ]:
# Calcular la cantidad de pasajeros que sobrevivieron
sobrevivieron = data[   data['Survived']    == 1]
total_sobrevivieron = len(sobrevivieron)
porcentaje_sobrevivieron = (total_sobrevivieron / total_pasajeros) * 100
print("\nCantidad de pasajeros que sobrevivieron:", total_sobrevivieron)
print("Porcentaje de pasajeros que sobrevivieron:", porcentaje_sobrevivieron)

Cantidad de pasajeros que sobrevivieron: 342
Porcentaje de pasajeros que sobrevivieron: 38.38383838383838

In [ ]:
# Calcular la edad promedio de los pasajeros
edad_promedio = data['Age'].mean()
print("\nEdad promedio de los pasajeros:", edad_promedio)

Edad promedio de los pasajeros: 29.69911764705882

In [ ]:
# Calcular la cantidad de pasajeros en cada clase
pasajeros_clase = data['Pclass'].value_counts()
print("\nCantidad de pasajeros en cada clase:")
print(pasajeros_clase)

Cantidad de pasajeros en cada clase:
3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
# Calcular la cantidad de pasajeros por género
pasajeros_genero = data['Sex'].value_counts()
print("\nCantidad de pasajeros por género:")
print(pasajeros_genero)

Cantidad de pasajeros por género:
male      577
female    314
Name: Sex, dtype: int64

###Preguntas

¿Cuál es el porcentaje de pasajeros que sobrevivieron en cada clase?

In [ ]:
# Escribe aqui tu respuesta

¿Cuál es la cantidad de pasajeros por puerto de embarque?

In [ ]:
# Escribe aqui tu respuesta

¿Cuál es la cantidad de pasajeros con familiares a bordo (padres/hijos o hermanos/cónyuges)?

In [ ]:
# Escribe aqui tu respuesta

¿Cuál es la cantidad de pasajeros que viajaban solos?

In [ ]:
# Escribe aqui tu respuesta